<h1 align="center"><%= @user.username %>'s page</h1>

<div class="row">
  <div class="col-sm-8 offset-sm-2 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<br>

<h4 align="center"><%= @user.username %>'s articles</h4>

<div align="center">
  <%= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user_articles %>

<% if @user_articles.count < 1 %>

<br>
<div align="center">You don't have any articles to display</div>

<% end %>

<div align="center">
  <%= will_paginate @user_articles %>
</div>


